.git
.env
.env.*
!.env.production.example
node_modules
vendor
public/build
public/hot
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.phpunit.result.cache
Dockerfile
docker-compose.yml
